[user]
    name = Shinichiro Naito
    email = github@shinichironaito.com
[core]
    pager = less -RFX
    editor = nvim
    quotepath = false
    autocrlf = input
[push]
    default = simple
[alias]
    co = checkout
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
    glog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%c' --all --graph
    ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[color]
    ui = auto
[url "git@github.com:"]
    InsteadOf = github:
[secrets]
    providers = git secrets --aws-provider
    patterns = [A-Z0-9]{20}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
    templatedir = ~/.git-templates/git-secrets
[credential "https://source.developers.google.com"]
    helper = gcloud.sh
