[Desktop Entry]
Type=Application
Exec=gnome-terminal --geometry 120x40+150+150
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=terminal
Name=terminal
Comment[en_US]=
Comment=
